@import "bootstrap-sprockets";
@import "bootstrap";

/* Variables */

$grey: #555;
$grey-light: #777;
$grey-medium-light: #eaeaea;
$grey-medium: #222;

/* End */


/* Base */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.cta {
	margin-top: 10rem;
}

.sub-text {
	padding-bottom: 10px;
	font-weight: 300;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* End */


/* Typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grey-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* End */


/* Header */

#logo {
	float: left;
	font-size: 1.7em;
	margin-right: 10px;
	text-transform: uppercase;
	color: #fff;
	padding-top: 9px;
	letter-spacing: -1px;
	font-weight: bold;
	&:hover {
		color: $grey-light;
		text-decoration: none;
	}
}

/* End */


/* Footer */

.footer {
	padding: 8px 40px;
	border-top: 1px solid $grey-medium-light;
	color: $grey-light;
	a {
		text-decoration: none;
		color: $grey;
			&:hover {
				color: $grey-medium;
		}
	}
	small	{
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		text-decoration: none;
		padding-top: 5px;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* End */





























